/*----------------------------------------GENERAL*/
*{margin:0px;padding:0px;font-family:"Segoeuisl";}
html,body{height:100%;min-height:400px;position:relative;background-color:var(--main-bgc);}
body>*{width:100%;}
a:any-link,a:any-link:visited{color:inherit;text-decoration:none;}
a:-webkit-any-link{color:inherit;text-decoration:none;}
a:-moz-any-link{color:inherit;text-decoration:none;}
a:-ms-any-link,a:-ms-any-link:visited{color:inherit;text-decoration:none;}
.contentWrapper{width:calc(100% - 40px);max-width:1000px;height:100%;margin:auto;position:relative;}
.boxed{box-sizing:border-box;-webkit-bok-sizing:border-box;}
.block{margin-bottom:20px;border:1px solid var(--main-bc);padding:20px 10px;}
.block{border-left:none;border-right:none;}
.trans, a,input,button,textarea,select{-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;}
.trans. a,input,button,textarea,select{-o-transition:all 200ms ease;transition:all 200ms ease;}
.bgFull{background-size:cover;background-color:rgba(0,0,0,0.6);background-position:50% 50%;}
.bgContain{background-size:contain;background-repeat:no-repeat;background-position:50% 50%;}
@font-face{font-family:'Roboto';src:url('../../fonts/Raleway/raleway_thin.ttf');}
/*-----------------------------------------LOADER*/
.page-loader{position:fixed;background-color:var(--main-bgc);bottom:0;right:0;left:0;top:0;z-index:9998;}
.loader{position:absolute;border-left:2px solid #777;border-top:2px solid rgba(100,100,100,0.4);}
.loader{border-right:2px solid rgba(100,100,100,0.4);border-bottom:2px solid rgba(100,100,100,0.4);}
.loader{height:46px;width:46px;left:50%;top:50%;margin:-23px 0 0 -23px;text-indent:-9999em;font-size:10px;}
.loader{z-index:9999;-webkit-animation:load 0.8s infinite linear;-moz-animation:load 0.8s infinite linear;}
.loader{ms-animation:load 0.8s infinite linear;o-animation:load 0.8s infinite linear;animation:load 0.8s infinite linear;}
.loader,.loader:after{border-radius:50%;width:46px;height:46px;}
@-webkit-keyframes load {
  0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes load {
  0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
/*-----------------------------------------HEADER*/
header{height:70px;background-color: #2f3640;position:fixed;z-index:100;}
header>.contentWrapper>*{display:block;margin:auto;width:auto;position:absolute;top:50%;transform:translateY(-50%);}
#logo{left:0px;font-size:40px;font-weight:bold;color:#fff;}
#menu{display:none;right:0px;color:#fff;text-decoration:none;font-size:30px;line-height:70px;padding:0px 15px;}
#menu+nav{right:0px;}
#menu+nav>a{color:#fff;display:inline-block;line-height:30px;padding:0px 15px;border:1px solid rgba(0,0,0,0);}
#menu+nav>a{border-radius:15px;text-decoration:none;}
#menu+nav>a:hover{border:1px solid #ccc;background-color:#2f8036;}
/*-----------------------------------------SCROLL*/
/*----------------------------------------SECTION*/
section{padding-top:70px;min-height:calc(100% - 70px);}
h2{text-align:center;}
hr{border:none;border-bottom:1px solid #ccc;margin-bottom:20px;}
p{margin-bottom:20px;text-align:justify;}
/*-----------------------------------------FOOTER*/
footer{background-color:#2f3640f0;color:#fff;}
/*-------------------------------------RESPONSIVE*/
@media screen and (max-width:760px) {
    #menu{display:block;}
    #menu+nav{display:none;top:100%;background-color:#fff;transform:translateY(0px);right:-20px;border-bottom:1px solid #ccc;border-left:1px solid #ccc;}
    #menu+nav>a{color:#2f3640;display:block;width:120px;}
    #menu+nav>a:hover{background-color:#eee;border-radius:0px;font-weight:bold;}
    #menu:hover+nav{display:block;}
    #menu+nav:hover{display:block;}
}
