RewriteEngine On

# Add here your error pages
ErrorDocument 404 http://localhost/00_propio/adoptpet/error
ErrorDocument 403 http://localhost/00_propio/adoptpet/error

# For redirecting if user browses any of these folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(functions|views)(/.*)?$ - [F,NC,L]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(adoptpet\.sql)$ - [F,NC,L]

# For enabling acess to files but not folders in assets
RewriteRule ^(assets)/(.+)$ assets/$2 [NC,L]
RewriteRule ^(assets)(/?)$ - [F,NC,L]
Options -Indexes

# Router
RewriteRule ^([\w/]+)$ index.php/$1 [QSA,NC,L]
